*{margin:0;padding:0}
a{text-decoration:none;color:#333;}
ol,ul{list-style:none}
body{font-family:"Microsoft YaHei"}
nav{width:100%;height:95px;background:#fff;min-width:1000px;}
nav ul{width:1000px;margin:0 auto;height:95px}
nav ul li{line-height:95px;float:left}
nav ul li img{margin-top:25px;}
nav ul li a{display:block;color:#333;margin:0 5px;width:80px;text-align:center;height:80px;}
.current_a{color:#6ebb2a;border-bottom:2px solid #6ebb2a}
#kzt{background:#6ebb2a;color:#fff;height:50px;margin-top:20px;line-height:52px;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
.Contact{width:1000px;min-width:1000px;height:350px;margin:0 auto;}
input{width:400px;height:50px;border:none;border-bottom:1px solid #333;font-size:12px;}
::-webkit-input-placeholder{color:#333;font-size:12px;}
#submit{width:200px;height:30px;background:#6ebb2a;color:#fff;border-radius:10px;border:none;margin-top:60px;margin-left:27%}
footer{background:red;width:100%;height:105px;}
#info{width:100%;min-width:1000px;background:#F6F8F7;height:100px;margin:0 auto;}
#info p{width:1000px;margin:0 auto;text-align:center;font-size:12px;line-height:30px;}
#copyRight{width:100%;min-width:1000px;background:#979797;height:25px;}
#copyRight p{width:1000px;margin:0 auto;color:#fff;text-align:center;font-size:12px;line-height:25px;}