
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471942163'); /* IE9*/
  src: url('iconfont.eot?t=1471942163#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471942163') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471942163') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471942163#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zixun:before { content: "\e62b"; }
.icon-zhifu:before { content: "\e60b"; }
.icon-fujin:before { content: "\e60b"; }
.icon-chongdiantou:before { content: "\e694"; }
.icon-chongdianqi:before { content: "\e633"; }
.icon-dianping:before { content: "\e63a"; }
.icon-jilu21:before { content: "\e6e6"; }
.icon-dianping1:before { content: "\e628"; }
.icon-daohang:before { content: "\e651"; }
.icon-monitor:before { content: "\e655"; }
.icon-zhifu1:before { content: "\e614"; }
.icon-zhifu2:before { content: "\e62f"; }
.icon-zhifu3:before { content: "\e618"; }
